<!doctype html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Eric">
        <title>Internal system</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/toastr/toastr.min.css">
        <link rel="stylesheet" href="/select2/css/select2.min.css">
        <link rel="stylesheet" href="/select2/css/bootstrap4-theme.css">
        <link rel="stylesheet" href="/css/style.css?v=<%= config.assetVersion %>">
    </head>
    <body class="login">
        <div class="loading" style="display: none;">
            <div class="spinner-border text-warning" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Please Login (<%= config.serverName %>)</h4>
                    <form class="form ajax-form" method="post" action="/user/login">
                        <div class="form-group">
                            <label for="inputUsername">Username</label>
                            <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autocomplete="off" autofocus>
                        </div>
                        <div class="form-group toggle-password">
                            <label for="inputPassword">Password</label>
                            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required autocomplete="off">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                            </svg>
                        </div>
                        <div class="form-group relative">
                            <label for="inputCaptcha">Captcha</label>
                            <input type="text" id="inputVerify" name="verify" class="form-control" placeholder="Verify" required autocomplete="off">
                            <img src="/captcha" alt="Click to change" title="Click to change" onclick="this.src='/captcha?time='+Math.random()" class="captcha">
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
        <script charset="utf-8" type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
        <script charset="utf-8" type="text/javascript" src="/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script charset="utf-8" type="text/javascript" src="/toastr/toastr.min.js"></script>
        <script charset="utf-8" type="text/javascript" src="/select2/js/select2.min.js"></script>
        <script charset="utf-8" type="text/javascript" src="/js/script.js?v=<%= config.assetVersion %>"></script>
    </body>
</html>
