        </div>
        <nav class="navbar bg-dark navbar-dark fixed-bottom">
            <div class="d-flex justify-content-start"><span class="text-light">© 2012-<%= moment().format('yyyy'); %></span></div>
            <div class="d-flex justify-content-end"><span class="text-light"><%= config.siteName %>(<%= config.serverName %>)</span></div>
        </nav>
        <script charset="utf-8" type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
        <script charset="utf-8" type="text/javascript" src="/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script charset="utf-8" type="text/javascript" src="/toastr/toastr.min.js"></script>
        <script charset="utf-8" type="text/javascript" src="/select2/js/select2.min.js"></script>
        <script charset="utf-8" type="text/javascript" src="/js/script.js?v=<%= config.assetVersion %>"></script>
    </body>
</html>
